.main{
    margin-top: 2.5em;
    width: 75%;
    height: 100%;
}

.sidebar{
    position: fixed;
    right: 0;
    top: 53px;
    padding-left: 5em;
    padding-right: 5em;
    background-color: lightgrey;
    height: 100%;
}

.characterTemplate{
    margin-bottom: 1em;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    width: 50%;
}

.leaveRoomDiv{
    padding: 1em;
    margin: 0;
    position: fixed;
    top: 4em;
}

.addCharacterButton{
    margin: 0;
    padding: 1em;
    position: fixed;
    top: 4em;
    right: 24em;
}

.nextTurnButton {
    margin: 0;
    padding: 1em;
    position: fixed;
    bottom: 0em;
    right: 24em;
}

.addCharacterPopup{
    width: 40%;
    height: 40%;
    background-color: grey;
    z-index: 1;
    position: fixed;
    top: 10em;
    left: 0;
    right: 0;
    display: none;
}

.exitButton{
    margin: 0;
    padding: 1em;
    position: absolute;
    top: 0em;
    right: 0em;
}

.addCharacterContainer{
    width: 60%;
    height: 60%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: white;
}

.addCharacterContainer button{
    margin: 0;
    padding: 1em;
    display: block;
        width: 100%;
}