.main{
    width: 75%;
    height: 100%;
}

.sidebar{
    position: fixed;
    right: 0;
    padding-left: 5em;
    padding-right: 5em;
    background-color: lightgrey;
}

.characterTemplate{
    margin-bottom: 1em;
    margin-left: 2em;
    display: flex;
    flex-direction: row;
    background-color: lightgrey;
    width: 50%;
}